@import "vazir-font/dist/font-face.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    @apply appearance-none m-0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
body {
  font-family: "Vazir", sans-serif;
  background-color: #f5f5f5;
  direction: rtl;
  overflow-x: hidden;
}
html,
body,
#app {
  height: 100%;
}
